<%# write product logic for discount %>

<% discounted_price =  (product.price * (1 - (product.discount_percentage / 100.00))).round(2) %>
<% date_difference = product.expiration_date - Date.today %>


<% if current_user.role == 'seller' %>
   <div class="col-12 col-sm-6 col-md-3 mb-4 ">
        <div class="card bg-white rounded">
          <!-- Image -->
          <div class="product-image-container">
            <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
              <img src="https://source.unsplash.com/random/406x246/?butcher,<%= product.name %>" class="product-card-image" alt="product image">
                <div class="overlay">
                <div class="view-product-text">View</div>
              </div>
          </div>
            <% end %>

          <!-- Product info -->

        <% if date_difference < 3 %>
          <%= render "card_info_discount", product_name: product_name, exp_date: exp_date, country: country, price: price, discounted_price: discounted_price %>
        <% else %>
          <%= render "card_info", product_name: product_name, exp_date: exp_date, country: country, price: price %>
        <% end %>


        </div>
      </div>
<% else %>
  <div class="col-12 col-sm-6 col-md-3 mb-4 ">
    <div class="card bg-white rounded">
      <!-- Image -->
      <div class="product-image-container">
        <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
          <img src="https://source.unsplash.com/random/406x246/?butcher,<%= product.name %>" class="product-card-image" alt="product image">
            <div class="overlay">
            <div class="view-product-text">View</div>
          </div>
      </div>
        <% end %>

      <!-- Product info -->
      <div id="card-txtboard" class="d-flex flex-column p-4" style="position: relative;">
        <% if date_difference < 3 %>
          <%= render "card_info_discount", product_name: product_name, exp_date: exp_date, country: country, price: price, discounted_price: discounted_price %>
        <% else %>
          <%= render "card_info", product_name: product_name, exp_date: exp_date, country: country, price: price %>
        <% end %>
      </div>
        <% if current_user.role == 'buyer' %>
          <div class="d-flex justify-content-center " style="position: absolute; bottom: 15px;">
            <%= link_to "Order", new_product_order_path(product), class: "btn btn-medium-black" %>
          </div>
        <% end %>

    </div>
  </div>
<% end %>
