  <%# to input the basic information for the butchery %>

<div class="row">
  <div class="form-container d-flex col-6 justify-content-center align-items-center mt-4">
    <div class="form-content flex-column">
      <div class="form-header mb-4">
        <div>
          <strong><h1 style="font-weight: 600">Butchery Creation</h1></strong>
        </div>
      </div>

      <%= simple_form_for(butchery) do |f| %>

        <div>
          <h3>Basic Info</h3>
          <%= f.input :name, label: 'Butchery Name'%>
          <%= f.input :phone_number, label: 'Contact Number' %>
        </div>

        <%# to input the address for the new butchery %>
        <div>
          <h3>Location</h3>
          <%= f.input :address %>
        </div>

        <%# to input the image for the new butchery %>
        <div>
          <h3>Image</h3>
          <%= f.input :photo, as: :file %>
        </div>

        <%= f.submit "Submit", class: "btn btn-submit-black"%>
      <% end %>
    </div>
  </div>

  <div class="col-6">
    <div class="image-container">
      <img src="https://images.unsplash.com/photo-1502333052765-1424f32cf5ca?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=741&ixid=MnwxfDB8MXxyYW5kb218MHx8cmF3LG1lYXR8fHx8fHwxNjU0NDM4NzEy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=494" alt="meat">
    </div>
  </div>
</div>

<%# insert a back button here %>
