  <%# to input the basic information for the butchery %>
<%= simple_form_for(butchery) do |f| %>

  <div>
    <h3>Basic Info</h3>
    <%= f.input :name, label: 'Butchery Name'%>
    <%= f.input :phone_number, label: 'Contact Number' %>
  </div>

  <%# to input the address for the new butchery %>
  <div>
    <h3>Location</h3>
    <%= f.input :address %>
  </div>

  <%# to input the image for the new butchery %>
  <div>
    <h3>Image</h3>
    <%= f.input :photo, as: :file %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>

<%# insert a back button here %>
