
<div class="banner-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/406x246/?butchery);">
    <div class='text-center'>
      <p><%= @butchery.name %></p>
      <div class="mt-3">
        <p class="mb-0" style="font-weight: lighter; font-size: 80%"><strong>Address: </strong><%= @butchery.address %></p>
        <p class="mb-0" style="font-weight: lighter; font-size: 80%"><strong>Contact No: </strong><%= @butchery.phone_number %></p>
      </div>
    </div>
    <% if current_user.role == "seller" %>
      <div id="new-pdt-btn" class="d-flex justify-content-end">
        <%= link_to 'Add product', new_butchery_product_path(@butchery), class: "btn btn-success mb-3" %>
      </div>
    <% end %>
</div>

<hr>


<div class="container mx-auto p-0">

  <div class="row">
    <% @butchery.products.each do |product| %>
      <%= render "card", product: product, product_name: product.name, exp_date: product.expiration_date, country: product.country, price: product.price %>
    <% end %>
  </div>
</div>
