
<%# PRODUCT CARD %>

<div class="container butchery-info mb-3">
  <div class="row">
    <strong><h1><%= @butcher.name %></h1></strong>
    <h5><strong>Address: </strong><%= @butcher.address %></h5>
  </div>

  <div class="row">
    <div class="col-8">
      <p><%= @butcher.phone_number %></p>
    </div>

    <div class="d-flex col-4 justify-content-end">
      <%= link_to 'Add product', new_user_butchery_product_path(@user, @butcher), class: "btn btn-outline-success" %>
    </div>
  </div>


</div>


<div class="container mb-5">

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card bg-white rounded p-4">
          <p><strong><%= product.name %></strong></p>
          <p><%= product.expiration_date %></p>
          <p>$<%= product.price %></p>
          <p><%= product.country %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
