<% if current_user.nil? %>
  <nav class="navbar navbar-expand-lg">
    <% @products = Product.all %>
    <% @butcheries = Butchery.all %>
    <div class="container-fluid">
      <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "meat-repo-logo.jpg" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>PRODUCTS</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @products.each do |product| %>
                <li><%= link_to product.name, product_path(product), class: "dropdown-item"%></li>
              <% end %>
            </ul>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>BUTCHERIES</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @butcheries.each do |butchery| %>
                <li><%= link_to butchery.name, butchery_path(butchery), class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <% if user_signed_in? %>
          <ul class="list-inline mt-3 ms-2">
            <li><%= link_to "Logout", destroy_user_session_path, class: "nav-item btn-small-gold", :method => :delete %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
<% elsif current_user.role == 'seller' %>
  <% @butcheries = current_user.butcheries %>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to show_path, class: "navbar-brand" do %>
        <%= image_tag "meat-repo-logo.jpg" %>
      <% end %>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My stores
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @butcheries.each do |butchery| %>
                <li><strong><%= link_to butchery.name, butchery_path(butchery), class: "dropdown-item" %></strong></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Add new store", new_butchery_path, class: "dropdown-item" %></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <%= link_to "My Orders", orders_path, class: "nav-link"%>
          </li>

        </ul>

        <!-- Seller Profile Dropdown -->
        <div class="navbar-right d-flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Seller Badge -->
            <li class="d-flex justify-content-center align-items-center">
              <span class="badge-gold pb-0"><i class="fas fa-crown"></i> Seller</span>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar avatar-seller-border", alt: "avatar" %>
                <span class="username-display"><%= current_user.name %></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <div class="dropdown-item-text">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <p><strong><%= current_user.name %></strong></p>
                      <p><%= current_user.email %></p>
                    </div>
                  </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", :method => :delete %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg">
    <% @products = Product.all %>
    <% @butcheries = Butchery.all %>
    <div class="container-fluid">
      <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "meat-repo-logo.jpg" %>
      <% end %>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>PRODUCTS</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @products.each do |product| %>
                <li><%= link_to product.name, product_path(product), class: "dropdown-item"%></li>
              <% end %>
            </ul>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>BUTCHERIES</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @butcheries.each do |butchery| %>
                <li><%= link_to butchery.name, butchery_path(butchery), class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <!-- Buyer Profile Dropdown -->
        <div class="navbar-right d-flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar avatar-seller-border", alt: "avatar" %>
                <span class="username-display"><%= current_user.name %></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <div class="dropdown-item-text">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <p><strong><%= current_user.name %></strong></p>
                      <p><%= current_user.email %></p>
                    </div>
                  </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", :method => :delete %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

<% end %>
