<%# if role is buyer %>
<%# buyer should see products that was added, quantity, amount, checkout button %>
<% if current_user.role == 'buyer' %>
<%# Order Summary Table %>
<div class="order-summary">
  <div class="order-summary-header">
    <h1 class="order-summary-title">My Orders</h1>
    <%= link_to "Continue Shopping", root_path, class: "back-link" %>
  </div>
  <%# Order Summary Table headers %>
  <table class="table">
      <thead class="table-header">
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col" class="order-product-total">Amount</th>
        </tr>
      </thead>

  <% @subtotal = 0 %>
      <tbody>
        <% @orders.each do |order| %>
        <tr class="order-summary-row">

            <td class="order-product">
             <div class="product-information">
              <div class="product-image">
                <%= image_tag "chicken.jpg", class: "image" %>
              </div>
              <div>
                <div class="product-name">
                  <strong><%= order.product.country %> <%= order.product.name %></strong>
                </div>
                <div class="butchery-name">
                  From: <%= order.product.butchery.name %>
                </div>
                <div class="product-expiration-date">
                  Expiring on: <em><%= order.product.expiration_date %></em>
                </div>
              </div>
             </div>
            </td>

            <td class="order-product-price">$<%= order.product.price %></td>
            <td class="order-quantity"><%= order.quantity %></td>
            <% @total = order.quantity * order.product.price %>
            <td class="order-product-total">$<%= @total.to_f.round(2) %></td>
            <% @subtotal += @total %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%# Order Summary Table footer %>
    <div class="order-footer">
      <div class="order-subtotal">
        <span class="order-subtotal-title">Subtotal</span>
        <span class="order-subtotal-price">$ <%= @subtotal.to_f.round(2) %></span>
      </div>
      <% @orders.each do |order| %>
        <%= link_to "Checkout", product_order_path(order.product_id, order.id), class: "btn-black" %>
      <% end %>

      <%# <button class="btn-black" href="#">Checkout</button> %>
    </div>

</div>

<%# if role is seller %>
<% else %>
 <div class="order-summary">
  <div class="order-summary-header">
    <h1 class="order-summary-title">Summary</h1>

    <div class="seller-order-summary">

    <div class="seller-order-summary-details">
    <h3>Total Sales</h3>
    <%# Logic to calculate the total sales %>
    <p><%= @total_sales %></p>
    </div>

    <div class="seller-order-summary-details">
    <h3>Completed Orders</h3>
    <p><%= @completed.length %></p>
    </div>
  </div>
  </div>
    <%# seller should see the order id, customer name, address, phone number, order status %>

    <table class="table">
      <thead>
      <h2 class="table-title">Orders</h2>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Delivery Date</th>
          <th scope="col" class="order-status">Order Status</th>
        </tr>
      </thead>

<% @customers = User.where(role: "buyer") %>
      <tbody>
      <%  @customers.each do |customer| %>

      <% @orders.each do |order| %>
      <%# Return all customers who ordered the product %>

      <% if order.user_id == customer.id %>
        <tr>
          <th scope ="row" class="order-id"><%= order.id %></td>
              <td><%= order.user.name %></td>
              <td><%= order.user.address %></td>
              <td><%= order.user.phone_number %></td>
              <td>delivery date</td>
              <form action="/orders">
              <td class="align-center"><input type="checkbox" value="completed"></td>
              </form>
        </tr>
          <% end %>
      <% end %>

      <% end %>
      </tbody>
    </table>
 </div>
<% end %>
