<!-- Find me in app/views/pages/home.html.erb -->
<!-- Banner -->
<!--
<div class="banner mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("beef-banner.jpg") %>)">
  <div class="container">

    <div class="introductory-text">
      <h1>Find the best meats on the island</h1>
      <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
      <%= link_to "Shop now", products_path, class: "btn btn-warning shop-now-btn mb-3 ms-0" %>
    </div>

  <% unless user_signed_in? %>
    <div class="user-actions">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light" %>
    </div>
  <% end %>
  </div>
</div>
-->

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Background images -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(1,1,1,0.6),rgba(1,1,1,0.6)), url(<%= asset_path("carousel/steak.jpg") %>)"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path("carousel/chicken-wings.jpg") %>)"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path("carousel/satay.jpg") %>)"></div>
    </div>
  </div>
  <!-- Introductory text -->
  <div class="intro-container">
    <div class="introductory-text">
      <h1>Find the best meats on the island</h1>
      <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
      <%= link_to "Shop now", products_path, class: "btn btn-short-gold mb-3 ms-0" %>
    </div>

    <% unless user_signed_in? %>
      <div class="user-actions">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light" %>
      </div>
    <% end %>
  </div>
</div>

<!-- 6 product cards -->
<div class="container mb-5">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h2><strong>Products</strong></h2>
    </div>
  </div>

  <div class="row">
    <% 6.times do |i| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card bg-white rounded">
          <!-- Image -->
          <div class="product-image-container">
            <%= link_to product_path(@products[i].id), class: "text-decoration-none" do %>
              <img src="https://source.unsplash.com/random/406x246/?butcher,<%= @products[i].name %>" class="product-card-image" alt="product image">
              <div class="overlay">
                <div class="view-product-text">View</div>
              </div>
            <% end %>
          </div>

          <%# Logic behind discount and expiration date %>
          <% discounted_price =  (@products[i].price * (1 - (@products[i].discount_percentage / 100.00))).round(2) %>
          <% date_difference = @products[i].expiration_date - Date.today %>

          <!-- Product info -->
          <div class="d-flex flex-column p-3" style="height: 240px;">

            <% unless date_difference < 3 %>
              <%= render "card_info", name: @products[i].name, exp_date: @products[i].expiration_date, country: @products[i].country, butchery_name: @products[i].butchery.name, price: @products[i].price %>
            <% else %>
              <%= render "card_info_discount", name: @products[i].name, exp_date: @products[i].expiration_date, country: @products[i].country, butchery_name: @products[i].butchery.name, price: @products[i].price, discounted_price: discounted_price %>
            <% end %>



            <% if current_user.role == 'buyer' %>
              <div class="d-flex justify-content-center">
                <%= link_to "Order", new_product_order_path(@products[i].id), class: "btn btn-medium-black" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "See all", products_path, class: "btn btn-dark" %>
  </div>
</div>
