<!-- Find me in app/views/pages/home.html.erb -->

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Background images -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(1,1,1,0.6),rgba(1,1,1,0.6)), url(<%= asset_path("carousel/steak.jpg") %>)"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path("carousel/chicken-wings.jpg") %>)"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path("carousel/satay.jpg") %>)"></div>
    </div>
  </div>
  <!-- Introductory text -->
  <div class="intro-container">
    <div class="introductory-text">
      <h1 class="text-left">Find the best <span data-controller="typed-js"></span></h1>
      <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
      <div class="d-flex justify-content-center"><%= link_to "Shop now", products_path, class: "shop-now-btn mb-3 ms-0" %></div>
    </div>

    <% unless user_signed_in? %>
      <div class="user-actions d-flex justify-content-around">
        <%= link_to "Log in", new_user_session_path, class: "btn-short-gold" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn-short-gold" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Product cards -->
<div class="container mb-5">
  <div class="row my-5">
    <div class="col-12 text-center" style="position: relative">
      <h2 class="mb-0"><strong>Flash Sales</strong></h2>
      <%= link_to "See all", products_path, class: "btn-medium-black", style: "position: absolute; top:0; right: 0;"%>
    </div>
  </div>

  <!-- Check for expiring products -->
  <% expiring_products = [] %>

  <% @products.each do |product| %>
    <% date_difference = product.expiration_date - Date.today %>
    <% expiring_products << product if date_difference < 3 %>
  <% end %>

  <!-- Display the Expiring Products - Flash Sales -->
  <div class="row vertical-scroll-container">
     <% expiring_products.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="expiring-card bg-white rounded">
          <!-- Image -->
          <div class="product-image-container">
            <%= link_to product_path(product.id), class: "text-decoration-none" do %>
              <img src="https://source.unsplash.com/random/406x246/?butcher,<%= product.name %>" class="product-card-image" alt="product image">
              <div class="overlay">
                <div class="view-product-text">View</div>
              </div>
            <% end %>
          </div>

          <!-- Logic behind discount and expiration date -->
          <% discounted_price =  (product.price * (1 - (product.discount_percentage / 100.00))).round(2) %>
          <% date_difference = product.expiration_date - Date.today %>

          <!-- Product info -->
          <div class="d-flex flex-column p-3" style="height: 240px;">

            <% unless date_difference < 3 %>
              <%= render "card_info", name: product.name, exp_date: product.expiration_date, country: product.country, butchery_name: product.butchery.name, price: product.price %>
            <% else %>
              <%= render "card_info_discount", name: product.name, exp_date: product.expiration_date, country: product.country, butchery_name: product.butchery.name, price: product.price, discounted_price: discounted_price %>
            <% end %>

            <% if current_user.nil? %>
              <div class="d-flex justify-content-center">
                <%= link_to "Order", new_product_order_path(product.id), class: "btn-medium-black" %>
              </div>
            <% elsif current_user.role == "buyer" %>
              <div class="d-flex justify-content-center">
                <%= link_to "Order", new_product_order_path(product.id), class: "btn-medium-black" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <!-- Horizontal Scroll -->
  <div class="horizontal-scroll-container">
    <% expiring_products.each do |product| %>
      <div class="horizontal-scroll-item">
      et
      </div>
      <div class="horizontal-scroll-item">
      et
      </div>
      <div class="horizontal-scroll-item">
      et
      </div>
    <% end %>
  </div>
</div>
