<!-- Find me in app/views/pages/home.html.erb -->
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("beef-banner.jpg") %>)">
  <div class="container">

    <div class="introductory-text">
      <h1>Find the best meats on the island</h1>
      <p>The Meat Repo is an online marketplace for finding and selling meats in Singapore</p>
      <%= link_to "Shop now", products_path, class: "btn btn-warning shop-now-btn mb-3 ms-0" %>
    </div>

  <% unless user_signed_in? %>
    <div class="user-actions">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light" %>
    </div>
  <% end %>
  </div>
</div>

<!-- Product Section Header -->
<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h2><strong>Products</strong></h2>
    </div>
  </div>

  <!-- 6 product cards -->
  <div class="container mb-5">
    <div class="row">
      <% 6.times do |i| %>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card bg-white rounded">
            <!-- Image -->
            <div class="product-image-container">
              <%= link_to product_path(@products[i].id), class: "text-decoration-none" do %>
                <img src="https://source.unsplash.com/random/388x235" class="product-card-image" alt="product image">
                <div class="overlay">
                  <div class="view-product-text">View</div>
                </div>
              <% end %>
            </div>

            <!-- Product info -->
            <div class="d-flex flex-column p-4">
              <div>
                <p class="product-card-name"><strong><%= @products[i].name %></strong></p>
                <p><em>Expiration date:</em> <%= @products[i].expiration_date %></p>
                <p><em>Country of origin:</em> <%= @products[i].country %></p>
              </div>

              <div class="d-flex flex-row justify-content-between">
                <p><strong><%= @products[i].butchery.name %></strong></p>
                <p><strong>S$<%= @products[i].price %></strong></p>
              </div>

              <div class="d-flex justify-content-center">
                <%= link_to "Order now", new_product_order_path(@products[i].id), class: "btn btn-long-black" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to "See all", products_path, class: "btn btn-dark" %>
    </div>
</div>
