<div class="container mb-5">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h2><strong>All Products</strong></h2>
    </div>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <% date_difference = product.expiration_date - Date.today %>
      <% discounted_price = (product.price * (1 - (product.discount_percentage / 100.00))).round(2) %>

        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card bg-white rounded">
            <!-- Image -->
            <div class="product-image-container">
              <%= link_to product_path(product.id), class: "text-decoration-none" do %>
                <% if product.photo.attached? %>
                  <img src= <%= cl_image_path product.photo.key %><%= product.name %>" class="product-card-image" alt="product image">
                <% else %>
                  <img src="https://source.unsplash.com/random/406x246/?butcher,<%= product.name %>" class="product-card-image" alt="product image">
                <% end %>
                <div class="overlay">
                  <div class="view-product-text">View</div>
                </div>
              <% end %>
            </div>
      <% unless date_difference < 3 %>
            <!-- Product info -->
            <div class="d-flex flex-column p-4">
              <div>
                <p class="product-card-name"><strong><%= product.name %></strong></p>
                <p><em>Expiration date:</em> <%= product.expiration_date %></p>
                <p><em>Country of origin:</em> <%= product.country %></p>
              </div>

              <div class="d-flex flex-row justify-content-between">
                <p><strong><%= product.butchery.name %></strong></p>
                <p><strong>S$<%= product.price %></strong></p>
              </div>

              <div class="d-flex justify-content-center">
                <%= link_to "Order now", new_product_order_path(product), class: "btn btn-long-black" %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
            <!-- Product info -->
            <div class="d-flex flex-column p-4">
              <div>
                <p class="product-card-name"><strong><%= product.name %></strong></p>
                <p>
                  <em>Expiration date:</em> <%= product.expiration_date %>
                  <span><i class="fa-solid fa-triangle-exclamation" style="color: #FB0011;"></i></span>
                </p>
                <p><em>Country of origin:</em> <%= product.country %></p>
              </div>

              <div class="d-flex flex-row justify-content-between">
                <p><strong><%= product.butchery.name %></strong></p>
                <p>
                  <s>S$<%= product.price %></s>
                  <span class="">
                    <i class="fa-solid fa-tag" style="color: #F3A326;"></i>
                    <strong>S$<%= discounted_price %></strong>
                  </span>
                </p>
              </div>

              <div class="d-flex justify-content-center">
                <%= link_to "Order now", new_product_order_path(product), class: "btn btn-long-black" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
