
<div class="row">
  <div class="form-container col-6 d-flex justify-content-center align-items-center flex-column">
    <div class="form-header mb-3">
      <strong><h1>Create a product</h1></strong>
    </div>

    <div class="form-contents">
      <%= simple_form_for([@user, @butchery, @product]) do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :country %>
        <%= f.input :expiration_date, as: :date, html5: true%>
        <%= f.input :discount_percentage%>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>

  <div class="col-6">
    <div class="image-container">
      <img src="https://source.unsplash.com/random/494x741/?raw,meat" alt="cat">
    </div>
  </div>
</div>
