<div class="card">
  <img src="https://source.unsplash.com/random/388x235" alt="product image">
  <div>
    <p><%= @product.name %></p>
    <p><%= @product.expiration_date %></p>
    <p><%= @product.country %></p>
    <p><%= @product.price %></p>
    <p><%= @product.butchery.name %></p>
  </div>
</div>
