<div class="container bg-white p-4">
  <div class="d-flex align-items-center mb-3">
    <i class="fas fa-chevron-left"></i>
    <%= link_to "Back", products_path, class: "text-decoration-none back-link" %>
  </div>

<%# product info %>
  <div class="row">
    <!-- Product Image -->
    <div class="col-12 col-md-6">
      <img src="https://source.unsplash.com/random/406x246/?butcher,<%= @product.name %>" alt="product image" class="w-100">
    </div>

    <!-- Product Info -->
    <% unless @on_discount %>
      <div class="col-12 col-md-6 px-4">
        <!--Name-->
        <div>
          <h1><strong><%= @product.name %></strong></h1>
        </div>
        <!-- Price -->
        <div>
          <p class="product-price">S$<%= @product.price %></p>
        </div>

        <hr>
        <!-- Details -->
        <div class="d-flex flex-column" style="height: 60%">
          <div class="d-flex">
            <p class="product-detail-subheader text-muted">Country of Origin:</p>
            <p class="product-detail-subheader"><%= @product.country %></p>
          </div>

          <div class="d-flex">
            <p class="product-detail-subheader text-muted">Expiration Date:</p>
            <p class="product-detail-subheader"><%= @product.expiration_date %></p>
          </div>

          <!-- Add to cart btn -->
          <div class="mt-auto">
            <%= link_to "Order now", new_product_order_path(@product), class: "btn btn-long-black" %>
          </div>

        </div>
      </div>
    <% else %>
      <div class="col-12 col-md-6 px-4">
        <!--Name-->
        <div>
          <h1><strong><%= @product.name %></strong></h1>
        </div>
        <!-- Price -->
        <div>
          <p class="product-price"><s>S$<%= @product.price %></s>
            <span class="product-price px-2">
            <i class="fa-solid fa-tag" style="color: #F3A326;"></i>
            S$<%= @discounted_price %></span>
          </p>
        </div>

        <hr>
        <!-- Details -->
        <div class="d-flex flex-column" style="height: 60%">
          <div class="d-flex">
            <p class="product-detail-subheader text-muted">Country of Origin:</p>
            <p class="product-detail-subheader"><%= @product.country %></p>
          </div>

          <div class="d-flex">
            <p class="product-detail-subheader text-muted">Expiration Date:</p>
            <p class="product-detail-subheader">
              <%= @product.expiration_date %>
              <span><i class="fa-solid fa-triangle-exclamation" style="color: #FB0011;"></i></span>

              <span><u><%= (@product.expiration_date - Date.today).round %></u> days away</span>
            </p>
          </div>

          <!-- Add to cart btn -->
          <div class="mt-auto">
            <%= link_to "Order now", new_product_order_path(@product), class: "btn btn-long-black" %>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- Store card -->
<div class="container bg-white p-4 mt-3 mb-5">
  <div class="d-flex">
    <!-- Store icon -->
    <div class="d-flex justify-content-center align-items-center p-3">
      <div class="store-icon d-flex justify-content-center align-items-center">
        <i class="fas fa-store"></i>
      </div>
    </div>
    <!-- Store Name -->
    <div class="p-3">
      <p><%= @product.butchery.name %></p>
      <p class="text-muted">View <%= @product.butchery.products.count %> other products</p>

      <%= link_to "View Shop", butchery_path(@product.butchery), class: "btn btn-dark rounded" %>
    </div>
  </div>
  <!-- View store button -->
</div>
